# Import dependencies

In [23]:
from kaggle.api.kaggle_api_extended import KaggleApi
import os
import pandas as pd
import glob

api = KaggleApi()
api.authenticate()

# View datasets

In [16]:
datasets = api.dataset_list(search='uber', page=1)
print("Found datasets containing 'uber':")
for i, ds in enumerate(datasets):
    print(f"{i+1}. {ds.ref} - {ds.title}")

Found datasets containing 'uber':
1. yashdevladdha/uber-ride-analytics-dashboard - Uber Data Analytics Dashboard
2. zusmani/uberdrives - My Uber Drives
3. yasserh/uber-fares-dataset - Uber Fares Dataset
4. varpit94/uber-stock-data - UBER Stock Data
5. ravi72munde/uber-lyft-cab-prices - Uber & Lyft Cab prices
6. fivethirtyeight/uber-pickups-in-new-york-city - Uber Pickups in New York City
7. bhanupratapbiswas/uber-data-analysis - Uber Data Analysisüöó üöï
8. brllrb/uber-and-lyft-dataset-boston-ma - Uber and Lyft Dataset Boston, MA
9. ruchikakumbhar/uber-dataset - Uber Dataset
10. kanchana1990/uber-customer-reviews-dataset-2024 - Uber Customer Reviews Dataset (2024)
11. mhassansaboor/uber-stocks-dataset-2025 - Uber Stocks Dataset 2025
12. anupammajhi/uber-request-data - Uber Request Data.csv
13. kushsheth/uber-ride-price-prediction - UBER RIDE PRICE PREDICTION
14. ahmedshahriarsakib/uber-eats-usa-restaurants-menus - Uber Eats USA Restaurants and Menus üçõ üçïüçî
15. arslanali4343/uber-pickups-europe - Uber Pickups Europe
16. marcusrb/uber-peru-dataset - Mobility Uber Per√∫ dataset
17. tawsifurrahman/tuberculosis-tb-chest-xray-dataset - Tuberculosis (TB) Chest X-ray Database
18. thedevastator/the-ubereats-restaurant-dataset-over-100000-us-r - Uber Eats US
19. shuhengmo/uber-nyc-forhire-vehicles-trip-data-2021 - Uber NYC for-hire vehicles trip data (2021)
20. computingvictor/top1000youtubers - üì∫ Top 1000 Youtubers statistics üì∫

# Import Dataset

In [17]:
dataset_ref = 'yashdevladdha/uber-ride-analytics-dashboard'
download_path = '../data/raw'

os.makedirs(download_path, exist_ok=True)
api.dataset_download_files(dataset_ref, path=download_path, unzip=True)

Dataset URL: https://www.kaggle.com/datasets/yashdevladdha/uber-ride-analytics-dashboard

# Load Dataset

In [26]:
csv_files = glob.glob(os.path.join(download_path, "*.csv"))
df = pd.read_csv(csv_files[0])
df

,Date,Time,Booking ID,Booking Status,Customer ID,Vehicle Type,Pickup Location,Drop Location,Avg VTAT,Avg CTAT,...,Reason for cancelling by Customer,Cancelled Rides by Driver,Driver Cancellation Reason,Incomplete Rides,Incomplete Rides Reason,Booking Value,Ride Distance,Driver Ratings,Customer Rating,Payment Method
0,2024-03-23,12:29:38,"""CNR5884300""",No Driver Found,"""CID1982111""",eBike,Palam Vihar,Jhilmil,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2024-11-29,18:01:39,"""CNR1326809""",Incomplete,"""CID4604802""",Go Sedan,Shastri Nagar,Gurgaon Sector 56,4.9,14.0,...,NaN,NaN,NaN,1.0,Vehicle Breakdown,237.0,5.73,NaN,NaN,UPI
2,2024-08-23,08:56:10,"""CNR8494506""",Completed,"""CID9202816""",Auto,Khandsa,Malviya Nagar,13.4,25.8,...,NaN,NaN,NaN,NaN,NaN,627.0,13.58,4.9,4.9,Debit Card
3,2024-10-21,17:17:25,"""CNR8906825""",Completed,"""CID2610914""",Premier Sedan,Central Secretariat,Inderlok,13.1,28.5,...,NaN,NaN,NaN,NaN,NaN,416.0,34.02,4.6,5.0,UPI
4,2024-09-16,22:08:00,"""CNR1950162""",Completed,"""CID9933542""",Bike,Ghitorni Village,Khan Market,5.3,19.6,...,NaN,NaN,NaN,NaN,NaN,737.0,48.21,4.1,4.3,UPI
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149995,2024-11-11,19:34:01,"""CNR6500631""",Completed,"""CID4337371""",Go Mini,MG Road,Ghitorni,10.2,44.4,...,NaN,NaN,NaN,NaN,NaN,475.0,40.08,3.7,4.1,Uber Wallet
149996,2024-11-24,15:55:09,"""CNR2468611""",Completed,"""CID2325623""",Go Mini,Golf Course Road,Akshardham,5.1,30.8,...,NaN,NaN,NaN,NaN,NaN,1093.0,21.31,4.8,5.0,UPI
149997,2024-09-18,10:55:15,"""CNR6358306""",Completed,"""CID9925486""",Go Sedan,Satguru Ram Singh Marg,Jor Bagh,2.7,23.4,...,NaN,NaN,NaN,NaN,NaN,852.0,15.93,3.9,4.4,Cash
149998,2024-10-05,07:53:34,"""CNR3030099""",Completed,"""CID9415487""",Auto,Ghaziabad,Saidulajab,6.9,39.6,...,NaN,NaN,NaN,NaN,NaN,333.0,45.54,4.1,3.7,UPI
149999,2024-03-10,15:38:03,"""CNR3447390""",Completed,"""CID4108667""",Premier Sedan,Ashok Park Main,Gurgaon Sector 29,3.5,33.7,...,NaN,NaN,NaN,NaN,NaN,806.0,21.19,4.6,4.9,Credit Card